<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SPOZ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SPOZ.Properties.Settings>
            <setting name="Rozmiar_okna_glownego" serializeAs="String">
                <value>1230, 630</value>
            </setting>
            <setting name="Status_okna_glownego" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aktualne_miasto_PL" serializeAs="String">
                <value />
            </setting>
            <setting name="aktualne_miasto" serializeAs="String">
                <value />
            </setting>
            <setting name="mail_managera" serializeAs="String">
                <value />
            </setting>
            <setting name="id_uzytkownika" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uprawnienia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ostatnio_zalogowany" serializeAs="String">
                <value />
            </setting>
        </SPOZ.Properties.Settings>
    </userSettings>
</configuration>